.firstBox
{
    width:58.33333333%;
    overflow: hidden;
    border-radius: 5px 18px 25px 20px;
}
.secondBox
{
width: 41.66666667%;
padding-left: 15px;
}
.Container
{
    margin-top: 3rem;
}
.iconWrapper{
    height: 15.1rem;
    width: 15.938rem;
}
.imageWrapper .iconWrapper:nth-child(1),
.imageWrapper .iconWrapper:nth-child(3)
{
    margin-right: 50px;
}
.imageWrapper .iconWrapper:nth-child(1)
{
    margin-bottom: 25px;
}