.slickArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .slickArrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slickPrev {
    left: 10px;
  }
  
  .slickNext {
    right: 10px;
  }
  