.App {
  height: 100vh;
  width: 100%;
}


body, html {
  text-size-adjust: 100%;
}
body *{

  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer
{
  background-color: var(--commonBand-Bg);
}
.footerWrapper
{
  padding-top: 107px;
}
.middleWrapper, .footerWrapper
{
  width: 90rem;
  margin: 0 auto;
}
ul *{
  margin: 0;
  padding: 0;
}
ul li *{
  list-style: none;
}
.categoryWrapper
{
  margin: 100px 0;
  padding: 0 10px;
}
.slidrWrapper
{
  margin-bottom: 70px;
}
.commonContainer
{
  background-color: #f3f5f6;
}